
body {
    background-color: #ffffff; 
}



.main-div{
    width: 90vw;
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-div form{
    width:16em;
    height:12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#3f3f3f;
    border-radius: 20px;
    border: 2px solid #222222;
    font-size: 30px;
}

.submit-button{
    width: 40%;
    height: 15%;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border:none;
    border-radius: 20px;
    font-size:30px;
    outline:none;
    color: #222222;
    transition: transform 0.5s;
}

.submit-button:hover{
    transform:scale(1.02);
    transition:transform 0.2s;
}

.login-label{
    position: relative;
    font-family: Lato;
    font-weight: 600;
    color:#ff3c3c;
    margin-bottom: 10px;
    animation: LabelAnimation 4s ease ;
}
@keyframes LabelAnimation{
    0%{opacity: 0%; font-size: 0px;}
    5%{transform: translateY(-80px) scale(150%); opacity: 100%; font-size: 30px;}
    70%{transform: translateY(-80px) scale(150%); opacity: 100%; font-size: 30px;}
    100%{transform: translateY(0px) scale(0%);opacity: 0%; font-size: 0px;}
}

