.main-res{
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.navbar-res{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin: 0px;
    background-color: #09bbd6;
    box-shadow: 0px 0px 5px 1px #393838;
}

.navbar-res label{
    color:White;
    font-size: 40px;
    margin-right: 20px;
}

.content-res{
    display: flex;
    justify-content: space-between;
    margin: 5% 20% 5% 20%;
    padding: 0 !important;
    box-shadow: 0px 0px 5px 1px #393838;
}