@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body{
    font-family: 'Lato';
}



.main{
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 5% 20% 5% 20%;
    padding: 0 !important;
    box-shadow: 0px 0px 5px 1px #393838;
    background-color: #3938380a;
}

.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    background-color: #323232;
    box-shadow: 0px 0px 5px 1px #393838;
}

.navbar div{
    margin: 10px;
}
.navbar div label{
    font-family: 'Lato';
    margin-right:20px;
    font-size: 40px;
    color:#FFFFFF;
}

.navbar-filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #393838;
    margin: 0;
    width:100%;
    padding: 2rem 0 2rem 0;
    background-color: #323232;
}

.navbar-filters .search-input{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding: 10px;
    height: 60%;
    margin: 0 0 0 0.7em;
    border: 0.5px solid #393838;
    outline: none ;
}

.controls label{
    color: white;
}
.navbar-filters select{
    font-family: 'Lato', sans-serif;
    outline:none;
    border:none;
    padding:10px;
    font-size: 25px;
    height: 60%;
    margin: 0 0 0 0;
}
.navbar-filters select:hover{
    background-color: aliceblue;
}

.nav-locations{
    border: 0.5px solid #393838;
    font-size: 25px;
    margin: 0px;
    background-color: #FFFFFF;
    margin-right: 0.7em;
    height: 60%;
    display: flex;
    align-items: center;
}

.nav-locations label{
    font-size:  25px;
    margin-left: 0.7em;
    margin-right: 0.7em;
    font-family: 'Lato', sans-serif;
}

.locations-cards{
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.locations-cards h1{
    display: flex;
    align-self: center;
    justify-self: center;
}